<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
      content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Students</title>
</head>
<body>
    <h1>Students</h1>
    <ul>
      <% for(let i=0; i<students.length; i++) { 
         var passStatus = '';
         if (students[i].passed) {
           passStatus = 'passed';
         } else {
           passStatus = 'not passed';
         }
      %>
        <li><%= students[i].student %> - <%= passStatus %></li>
      <% } %>
    </ul>
  </body>
</html>
