<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
      content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>First Express</title>
</head>
<body>
    <h1>Students</h1>
    <ul>
      <% students.forEach(function(student) { %>
        <li>
          <%= student.student %>
            - 
          <%= student.passed ? 'passed' : 'not passed' %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
